.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 1em;
}

.list {
  align-items: center;
  display: flex;
  list-style: none;
}

.item {
  margin-right: 1em;
}

.item a {
  color: white;
  text-decoration: none;
}

.item a:hover {
  color: #ffc31d;
  text-decoration: underline;
}
